# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Env
.env

# OS / editors
.DS_Store
.idea/
.vscode/

# Тестовые артефакты сборки
server.log

# Десктоп-режим
desktop/*.log

# Временные логи локального сервера
_srv.*
